<div class="form-group">
    <button type="submit" class="btn btn-warning mb-2">Importer image article {{articleTypeRelativeToLook}} {{rank}}</button>
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Marque">
</div>
<div class="form-group">
    <input type="number" class="form-control" placeholder="Price">
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Shopping site name">
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Shopping url">
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Description">
</div>