<div class="form-group">
    <input type="number" class="form-control" [(ngModel)]="articleId" placeholder="article id">
</div>
<div class="form-group">
    <button type="button" (click)="onSearch()" class="btn btn-primary btn-lg btn-block">Chercher et ajouter</button>
    <button type="button" (click)="onSave()" class="btn btn-success btn-lg btn-block">Valider</button>
</div>

<!-- choice principal image-->
<ng-container *ngIf="article">
    <select class="custom-select" 
            (change)="onSelectPrincipalImageChange($event.target.value)"
            *ngIf="article && 
                article.images && 
                article.images.length">
                
                <option *ngFor="let image of article.images; let index = index " 
                        [attr.selected]="article.indexImagePrincipal === index"
                        [value]="index">
                            {{index}}   
                </option>
    </select>
    <!-- article.indexImagePrincipal > -1 : indexImagePrincipal can be 0-->
    <div class="indexImagePrincipal" *ngIf="article.indexImagePrincipal > -1">
        <img width="75%" height="50%" [src]="article.images[article.indexImagePrincipal]" />
    </div>
</ng-container>