@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    font-family: Roboto-Condensed,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

a, a:hover {
    color: inherit;
    text-decoration: inherit;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; font-weight: 700; font-size: 0.9rem;}
.string { color: green; }
.number { color: rgb(17, 20, 18); }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }