<div class="article-wrapper">
    <a href="#">
        <div class="article-img-wrapper">
            <img src="assets/veste.jpg" class="article-img"/>
        </div>
        <div class="article-infos">
            <div class="row article-infos-row-1">
                <div class="col article-infos-brand">River Island</div>
            </div>
            <div class="row article-infos-row-2">
                <div class="col"><span class="article-infos-price-whole-part">36</span>,95 €</div>
            </div>
            <div class="row article-infos-row-3">
                <div class="col">Chemise - black</div>
            </div>
        </div>
    </a>
  </div>